*{
    box-sizing: border-box;
}
body {
    background-color: rgb(240, 232, 248) !important;
}
.titulo {
    height: 15vh;
    background-color: rgba(104, 49, 155, 0.961)  !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.titulo h1 {
    font-size: 70px;
}
 footer div img {
    width: 50px;
    margin-left: 30px;
 }
header {
    width: 100%;

    min-height: 15vh;
}
main{
    width: 100%;
    min-height: 70vh;
}
footer {
    width: 100%;

    min-height: 10vh;
}



